/* side navigation bar */
.navbar_main_container {
  background-color: #0B2C82;
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  position: relative; 

}

.navbar_links a {
  color: #ffffff;
  text-decoration: none;
}

.nav_icon {
  width: 32px;
  margin-bottom: 15px;
}

.bottom_icons {
  position: absolute;
  bottom: 0; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}